.div1{
  background-image: url("../img/pic9.jpg");
  background-position: center;
  background-size: cover;
  height: 730px;
  font-family: 'Ubuntu', sans-serif;
}

.titre1{
  color: white;
  font-size: 2.6em;
  margin-top: 280px;
  font-weight: bold;
}

.button1 {
  background-color: #6e573b;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: 600;
}

.fade-in{
  opacity: 0;
  transition: opacity 600ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}

