.div1{
  background-image: url("../img/pic1.jpg");
  height: 730px;
}

.titre1{
  color: white;
  font-size: 2.4em;
  margin-top: 280px;
}

.button1 {
  background-color: #6e573b;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin-right: 170px;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: 600;
}

