.div2{
  height: 730px;
  display: flex;
  justify-content: center;
}

.content{
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
}

.welcome-title{
  margin-top: 120px;
}

.welcome-content{
  color: rgb(70, 70, 70);
  margin-top: 10px;
}

.pic2{
  width: 400px;
  height: 500px;
  padding: 50px;
  margin-top: 130px;
}

.pic3{
  width: 300px;
  height: 400px;
  margin-top: 100px;
}