.div2{
  height: 730px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
}

.contentdiv2{
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
}

.welcome-title{
  margin-top: 120px;
  font-weight: bold;
}

.welcome-content{
  color: rgb(70, 70, 70);
  margin-top: 10px;
}

.pic2{
  width: 300px;
  height: 400px;
  margin-top: 200px;
}

.pic3{
  width: 300px;
  height: 400px;
  margin-top: 120px;
}