.div3{
  background-image: url("../img/pic8.jpg");
  background-position: center;
  background-size: cover;
  height: 730px;
  font-family: 'Ubuntu', sans-serif;
}

.titre2{
  color: white;
  font-size: 2.4em;
  margin-top: 200px;
  font-weight: bold;
}

.menutext{
  color: white;
  margin-top: 50px;
}

.button2 {
  background-color: #6e573b;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: 600;
}