.div5{
  background-image: url("../img/pic7.jpg");
  background-position: center;
  background-size: cover;
  height: 730px;
  font-family: 'Ubuntu', sans-serif;
}

.titrehoraire, .titreadresse, .titrereservation{
  color: white;
  font-weight: bold;
}

.div5 p{
  color: white;
  font-size: 1.1em;
}

.div5 h3{
  font-size: 2em;
}

.button4 {
  background-color: #6e573b;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  border-radius: 10px;
  font-weight: 600;
}
