.container-reservation{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.title-reservation{
    text-align: center;
    padding: 80px;
    border-bottom: 1px solid;
    font-size: 2.5em;
}

.titre2-reservation{
  font-weight: bold;
}

.p-reservation{
  font-weight: lighter;
  margin-top: 20px;
  font-size: 1.1em;
}

.content-reservation{
  padding: 50px;
  margin-top: 50px;
}

.form{
  text-align: center;
  padding: 50px;
}

.form input{
  padding: 10px;
  display: block;
  width: 500px;
}

label{
  display: block;
  text-align: left;
  font-size: 1.4rem;
}

textarea{
  display: block;
  width: 500px;
  height: 200px;
}

select{
  display: block;
}

.button5{
    background-color: #6e573b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: 600;
}

@media screen and (max-width: 600px){
  .form input{
    width: 200px;

  }

   .form textarea{
    width: 200px;
  }

  .title-reservation{
    font-size: 2rem;
  }

  .container-reservation{
    flex-direction: column;
  }
}



