@import 'nav.css';
@import 'div1.css';
@import 'div2.css';
@import 'div3.css';
@import 'div4.css';
@import 'div5.css';
@import 'mediaqueries.css';
@import 'menu.css';
@import 'reservation.css';


.bodyindex{
  margin: 0;
  padding: 0;
  height: 2000px;
}

